.go-up{
    display: inline-block;
    padding: 20px;
    color: rgb(3, 2, 2)18, 216, 216);
    cursor: pointer;
    position: fixed;
    bottom:20px;
    right: 20px;
    border-radius: 100%;
  }

/* LARGE DEVICES (LAPTOPS/DESKTOPS) */
@media only screen and (min-width:992px){
    .card-image{
        height: 250px;
        overflow: hidden;
    }
    #image{
        height: 200px;
    }
    #card-horizontal{
        height: 200px;
    }
    #title-movie{
        font-size: 15px;
        margin-top: 0%;
    }
    #card-sum{
        padding-top: 0%;
        padding-bottom: 0%;
    }
    #more-detail{
        float: right;
        position: relative;
    }
    .container{
        width: 70%;
    }
}
/* SMALL DEVICES (TABLETS/LARGE PHONES) */
@media only screen and (min-width:768){
    .card-image{
        height: 230px;
        overflow: hidden;
    }
    #image{
        height: 230px;
        width: 150px;
    }
    #card-horizontal{
        height: 230px;
    }
    #title-movie{
        font-size: 15px;
        margin-top: 0%;
    }
    #card-sum{
        padding-top: 0%;
        padding-bottom: 0%;
    }
    #more-detail{
        float: right;
        position: relative;
    }
    .container{
        width: 85%;
    }
}
/* EXTRA SMALL DEVICES (PHONES) */
@media only screen and (max-width:600px){
    .card-image{
        height: 200px;
        overflow: hidden;
    }
    #image{
        height: 200px;
        width: 135px;
    }
    #card-horizontal{
        height: 200px;
        width: 90%;
    }
    #title-movie{
        font-size: 15px;
        margin-top: 0%;
    }
    #card-sum{
        padding-top: 0%;
        padding-bottom: 0%;
    }
    #more-detail{
        float: right;
        position: relative;
    }
    .container{
        width: 90%;
    }
    
}
